*{
    margin: 0px;
}


p{
    color: rgb(220, 21, 21);
}

.colorText1{
    font-size: large;
    font-weight: bold;

}

#newSt{
    color: brown;
    font-size: small;
    text-decoration: overline;
}